{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load account %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h1 class="m-3 font-weight-normal text-center">{% trans "Set Password" %}</h1>
        <form method="POST" action="{% url 'account_set_password' %}" novalidate>
            {% bootstrap_form_errors form layout='inline' %}
            {% bootstrap_form form layout='inline' %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Set Password' %}</button>
        </form>
    </div>
</div>
{% endblock %}
