{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h1 class="m-3 font-weight-normal text-center">{% trans "Change Password" %}</h1>
        <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        <hr>
        <a href="{% url 'account_login' %}" class="btn btn-success">ログイン</a>
        <a href="{% url 'account_signup' %}" class="btn btn-success">新規ユーザ登録</a>
    </div>
</div>
{% endblock %}
