{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title%}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 p-2 bg-primary text-white">{{ title }}</h2>
    
    <div class="mb-3">
        <a href="{% url 'shoppinglist:shoppinglist_detail' shoppinglist.id %}" class="btn btn-primary">一覧に戻る</a>
    </div>
    
    <form action="{% url 'shoppinglist:shoppingitem_create' shoppinglist.id %}" method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">送信</button>
    </form>
</div>
{% endblock %}
